<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Menu Principal</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="  logout()">Cerrar Sesion
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="button-container">
    <ion-button expand="full" class="custom-button" (click)="goToReserva()">Realizar Reserva</ion-button>
    <ion-button expand="full" class="custom-button" (click)="goToModificarReserva()">Editar Reserva</ion-button>
    <ion-button expand="full" class="custom-button" (click)="goToHistorialReserva()">Historial de Reservas</ion-button>
  </div>

  <div class="image-container">
    <img src="assets/imagenes/Horario-2.jpg" class="image" alt="Descripción de Horario 1" />
    <img src="assets/imagenes/Horario-1.jpg" class="image" alt="Descripción de Horario 2" />
    <img src="assets/imagenes/Horario-3.jpg" class="image" alt="Descripción de Horario 3" />
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="footer-title">© 2024 AulaManager. Todos los derechos reservados.</ion-title>
  </ion-toolbar>
</ion-footer>