// Estilos para el título
ion-toolbar {
--background: #6482AD; /* Fondo azul */
}

ion-title {
font-family: sans-serif; /* Fuente básica y consistente */
font-size: 14px; /* Tamaño de la fuente del título */
}

ion-icon {
font-size: 30px; /* Tamaño del ícono de "casa" */
color: #F5EDED;  /* Color del ícono */
}

ion-content {
padding: 20px; /* Espaciado general alrededor del contenido */
}

// Estilos para el footer
ion-footer {
--background: #6482AD; /* Color de fondo del footer */
padding: 10px; /* Espacio interno del footer */
}

.footer-title {
font-size: 14px; /* Tamaño de la fuente del footer */
text-align: center; /* Centra el texto del footer */
color: #F5EDED; /* Color del texto del footer */
}

// Estilos para los formularios
form {
margin-top: 20px; /* Espaciado arriba del formulario */
}

ion-item {
margin-bottom: 15px; /* Espaciado entre los campos del formulario */
}

// Estilos para los botones
.button-container {
display: flex; /* Usar flexbox para centrar los botones */
flex-direction: column; /* Coloca los botones en columna */
align-items: center; /* Centra los botones horizontalmente */
justify-content: center; /* Centra verticalmente si hay espacio */
margin: 20px 0; /* Margen alrededor del contenedor de botones */
}

.custom-button {
width: 100%; /* Hace que el botón ocupe el 100% del ancho del contenedor */
height: 50px; /* Establece una altura fija para todos los botones */
margin: 10px 0; /* Espaciado entre los botones */
border-radius: 25px; /* Redondea los bordes del botón */
--ion-color: #F5EDED; /* Color del texto del botón */
--background: #6482AD; /* Color de fondo del botón */
}

.register-message {
text-align: center; /* Centra el mensaje */
margin-top: 20px; /* Espaciado arriba */
color: #666; /* Color del texto */
}

// Estilo para el botón de regresar
.back-button {
background: transparent; /* Fondo transparente para el botón de regresar */
color: #F5EDED; /* Color del texto del botón de regresar */
border: none; /* Sin borde */
}

.info-box {
    background-color: #6482AD; /* Fondo claro para el contenedor */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 0px 30; /* Margen superior e inferior */
}

.info-box p {
    font-size: 16px; /* Tamaño de fuente */
    color: #F5EDED; /* Color del texto */
    line-height: 1.5; /* Espaciado entre líneas */
    text-align: center; /* Alineación centrada */
}
